.user-icon{
    margin-left: 380px;
    margin-top: -22px;
}

.head-align{
    margin-top: 0px;
    margin-left: 10px;
}

.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}

.maindiv{
        margin-left: 95px;
}

.clarity-container{
    margin-left:193px
}